version: "3.8"

services:
  php:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    working_dir: /app
    command: php -S 0.0.0.0:8000 -t /app
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: mysql:8.0
    container_name: cash_db
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3307:3306"
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/mysql

volumes:
  db_data:
