version: "3.8"

services:
  php:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/var/www/app
      - ./composer.json:/var/www/composer.json:ro
      - ./database:/var/www/database:ro
      - ./storage:/var/www/storage
      - vendor:/var/www/vendor
    working_dir: /var/www/app
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: mysql:8.0
    container_name: cash_db
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_ADMIN_PASSWORD: ${DB_ADMIN_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
  vendor:
